/* โหลดฟอนต์ */
@font-face {
    font-family: 'KhoyKidHodChao';
    src: url('ข่อยคิดฮอดเจ้า.ttf') format('truetype');
}

* {
    font-family: 'KhoyKidHodChao', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-size: 16px;
    overflow: hidden;
}

.container {
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

h1 {
    color: #8a2be2;
    font-size: 36px;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.start-button {
    background-color: #8a2be2;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    width: 100%;
}

.start-button:hover {
    background-color: #7a1db8;
}

/* จัดการการแสดงคอยน์ที่มุมขวาบน */
.coin-display {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #8a2be2;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}

/* เครดิตคนสร้าง */
.credit {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #8a2be2;
    font-size: 14px;
    font-weight: bold;
}
.credit span {
    color: #7a1db8;
}